@page "/"
@using WebsiteCoreBlazor.Data
@inject SimpleStatsService StatsService

<tools>
    <bar></bar>
    <button class="btn btn-primary@( (selected == 0) ? " selectia":"")"
            
            @onclick="GetPortfolioSize"></button>
    <button class="btn btn-primary@( (selected == 1) ? " selectia":"")"
            
            @onclick="GetPortfolioWeight"></button>
    <spacer />
    <button class="btn btn-primary@( (selected == 2) ? " selectia":"")"
            
            @onclick="GetBears"></button>
    <button class="btn btn-primary@( (selected == 3) ? " selectia":"")"
            
            @onclick="GetBulls"></button>
    <spacer />
    <button class="btn btn-primary@( (selected == 4) ? " selectia":"")"
            
            @onclick="GetSellouts"></button>
    <button class="btn btn-primary@( (selected == 5) ? " selectia":"")"
            
            @onclick="GetHodlers"></button>
    <spacer />
    <button class="btn btn-primary@( (selected == 6) ? " selectia":"")"
            
            @onclick="GetUnicorns"></button>
    <spacer />
    <button class="btn btn-primary@( (selected == 7) ? " selectia":"")"
            
            @onclick="GetFishers"></button>
    <button class="btn btn-primary@( (selected == 8) ? " selectia":"")"
            
            @onclick="GetDrawers"></button>
    <spacer />
    <button class="btn btn-primary@( (selected == 9) ? " selectia":"")"
            
            @onclick="GetChasers"></button>
    <button class="btn btn-primary@( (selected == 10) ? " selectia":"")"
            
            @onclick="GetShimmers"></button>
</tools>


<table class="corpus">
    <thead>
        <tr>
            <th class="header">
                <select class="momenta" @onchange="DoNothing">
                    @foreach(var moment in momenta ) {
                    <option value="@moment.ToString()">@moment.ToString("d MMMM yyyy")</option>
                }
                </select>
                <span class="title" href="">@(!busy?header_name:"")</span>
                 <!--<p class="descr">@header_descr</p>-->
            </th>
        </tr>
    </thead>
    <tbody>
        @if (!busy)
        {
            @for(int i=0;i<results.Count;i++){
        <tr>
            <td class="user">
                <a class="link" href="https://app.earth2.io/#profile/@results[i].user.Id">

                    <div class="rank">
                    @if( (i+1)%10==0 || i+1<=3) {
                        if (i+1<=3) {
                        <img class="toprank" src="/icons/@(i+1).png" width="96" height="96"/>
                        } else {
                        <span>@(i+1)</span>;
                        }
                    }</div>
                    <img class="photo" src="@results[i].user.customPhoto" width="48" height="48" />
                    <div class="name">
                        @if (!string.IsNullOrEmpty(results[i].user.name) ) {
                            @results[i].user.name;
                        } else {
                            @("- missing name -");
                    }
                    </div>
                    <div class="data">@results[i].datavalue</div>
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>

<div class="ciliary">
    <div class="header">
        Ciliary
    </div>
    <memo>
        E2 API Service:
        <io>
            Online
        </io>
    </memo>
    <memo>
        Last updated:
        <io>
            @selected_moment.ToString("dd MMMM yyyy")
        </io>
    </memo>
    <memo>
        Stat Collector:
        <io>
            Pending
        </io>
    </memo>
</div>    

    @code {
        bool busy = true;
        int selected = 0;
        DateTime selected_moment;

        List<DateTime> momenta = null;
        string header_name = "unknown";
        string header_descr = @"Some description, this is for a test.
                            Test test test<h1>test</h1> ;//TODO test js/css/html-manip-funcs";
        List<SimpleStatsViewModel> results = null;

        void DoNothing(ChangeEventArgs e) {
            selected_moment = DateTime.Parse((string)e.Value);
            if (selected==0) GetPortfolioSize();
            if (selected==1) GetPortfolioWeight();
            if (selected==2) GetBears();
            if (selected==3) GetBulls();
            if (selected==4) GetSellouts();
            if (selected==5) GetHodlers();
            if (selected==6) GetUnicorns();
            if (selected==7) GetFishers();
            if (selected==8) GetDrawers();
            if (selected==9) GetChasers();
            if (selected==10) GetShimmers();
        }

        protected override async Task OnInitializedAsync()
        {
            //get dates
            momenta = StatsService.GetMomenta();
            selected_moment = momenta[0];

            GetPortfolioSize();
        }

        void GetPortfolioSize()
        {
            busy = true;
            header_name = "Portfolio Size";
            results = StatsService.GetPortfolioSize(selected_moment);
            selected = 0;
            busy = false;
        }
        void GetPortfolioWeight()
        {
            busy = true;
            header_name = "Portfolio Weight";
            results = StatsService.GetPortfolioWeight(selected_moment);
            selected = 1;
            busy = false;
        }

        void GetBears()
        {
            busy = true;
            header_name = "Bears";
            results = StatsService.GetBearStats(selected_moment);
            selected = 2;
            busy = false;
        }
        void GetBulls()
        {
            busy = true;
            header_name = "Bulls";
            results = StatsService.GetBullStats(selected_moment);
            selected = 3;
            busy = false;
        }
        void GetSellouts()
        {
            busy = true;
            header_name = "Sellouts";
            results = StatsService.GetSelloutStats(selected_moment);
            foreach (var result in results) result.datavalue = result.datavalue.Substring(1);
            selected = 4;
            busy = false;
        }
        void GetHodlers()
        {
            busy = true;
            header_name = "Hodlers";
            results = StatsService.GetHodlerStats(selected_moment);
            selected = 5;
            busy = false;
        }
        void GetUnicorns()
        {
            busy = true;
            header_name = "Unicorns";
            results = StatsService.GetUnicornStats(selected_moment);
            selected = 6;
            busy = false;
        }
        void GetFishers()
        {
            busy = true;
            header_name = "Bottom Fishers";
            results = StatsService.GetFishStats(selected_moment);
            selected = 7;
            busy = false;
        }
        void GetDrawers()
        {
            busy = true;
            header_name = "Top drawers";
            results = StatsService.GetDrawerStats(selected_moment);
            selected = 8;
            busy = false;
        }
        void GetChasers()
        {
            busy = true;
            header_name = "Chasers";
            results = StatsService.GetChaserStats(selected_moment);
            selected = 9;
            busy = false;
        }
        void GetShimmers()
        {
            busy = true;
                header_name = "Shimmers";
            results = StatsService.GetShimmerStats(selected_moment);
            selected = 10;
            busy = false;
        }

    }
