@page "/"
@using WebsiteCoreBlazor.Data
@inject SimpleStatsService StatsService

    <tools>
        <button class="btn btn-primary" @onclick="GetPortfolioSize"></button>
        <button class="btn btn-primary" @onclick="GetPortfolioWeight"></button>
        <spacer />
        <button class="btn btn-primary" @onclick="GetBears"></button>
        <button class="btn btn-primary" @onclick="GetBulls"></button>
        <spacer />
        <button class="btn btn-primary" @onclick="GetSellouts"></button>
        <button class="btn btn-primary" @onclick="GetHodlers"></button>
        <spacer />
        <button class="btn btn-primary" @onclick="GetUnicorns"></button>
        <spacer />
        <button class="btn btn-primary" @onclick="GetFishers"></button>
        <button class="btn btn-primary" @onclick="GetDrawers"></button>
        <spacer />
        <button class="btn btn-primary" @onclick="GetChasers"></button>
        <button class="btn btn-primary" @onclick="GetShimmers"></button>
    </tools>


<table class="corpus">
    <thead>
        <tr>
            @if (busy)
            {
            <th>unknown</th>
            }
            else
            {
        <th>
            <a class="title" href="">@header_name</a>
            <!--<p class="descr">@header_descr</p>-->
        </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (busy)
        {
        <tr><td><em><span class="spinner spinner-border"></span> Loading</em></td></tr>
        }
        else
        {
            @for(int i=0;i<results.Count;i++){
        <tr>
            <td class="user">
                <a class="link" href="https://app.earth2.io/#profile/@results[i].user.Id">

                    <div class="rank">@if( (i+1)%10==0 || (i+1)<=3 ){ @(i+1); }</div>
                    <img class="photo" src="@results[i].user.customPhoto" width="48" height="48" />
                    <div class="name">@results[i].user.name</div>
                    <div class="data">@results[i].datavalue</div>
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<br />


@code {
    bool busy = true;

    string header_name = "unknown";
    string header_descr = @"Some description, this is for a test.
                            Test test test<h1>test</h1>";
    List<SimpleStatsViewModel> results = null;

    protected override async Task OnInitializedAsync()
    {
        busy = true;
        header_name = "Portfolio Size";
        results = StatsService.GetPortfolioSize();
        busy = false;
    }
    void GetPortfolioSize()
    {
        busy = true;
        header_name = "Portfolio Size";
        results = StatsService.GetPortfolioSize();
        busy = false;
    }
    void GetPortfolioWeight()
    {
        busy = true;
        header_name = "Portfolio Weight";
        results = StatsService.GetPortfolioWeight();
        busy = false;
    }

    void GetBears()
    {
        busy = true;
        header_name = "Bears";
        results = StatsService.GetBearStats();
        busy = false;
    }
    void GetBulls()
    {
        busy = true;
        header_name = "Bulls";
        results = StatsService.GetBullStats();
        busy = false;
    }
    void GetSellouts()
    {
        busy = true;
        header_name = "Sellouts";
        results = StatsService.GetSelloutStats();
        foreach(var result in results) result.datavalue = result.datavalue.Substring(1); 
        busy = false;
    }
    void GetHodlers()
    {
        busy = true;
        header_name = "Hodlers";
        results = StatsService.GetHodlerStats();
        busy = false;
    }
    void GetUnicorns()
    {
        busy = true;
        header_name = "Unicorns";
        results = StatsService.GetUnicornStats();
        busy = false;
    }
    void GetFishers()
    {
        busy = true;
        header_name = "Bottom Fishers";
        results = StatsService.GetFishStats();
        busy = false;
    }
    void GetDrawers()
    {
        busy = true;
        header_name = "Top drawers";
        results = StatsService.GetDrawerStats();
        busy = false;
    }
    void GetChasers()
    {
        busy = true;
        header_name = "Chasers";
        results = StatsService.GetChaserStats();
        busy = false;
    }
    void GetShimmers()
    {
        busy = true;
        header_name = "Shimmers";
        results = StatsService.GetShimmerStats();
        busy = false;
    }

}
